{%extends 'layout_main.html'%}
{%block content%}
<div class="container-fluid">
    <div class="row">
        {%for item in range(20)%}
        <div class="col-sm-3">
            <div class="card border-0" style="width: 18rem;" style="border: none;">
                <img src="{{url_for('static',filename='images/makr_lux_zip_oxblood_1.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        
        </div>
        {%endfor%}
        
    </div>
</div>

{%endblock%}